## Basic Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set() # set the default Seaborn style for graphics

## Plotly Imports

In [ ]:
import matplotlib.ticker as ticker
import json
import plotly.express as px

## Import the Dataset

Note: resale-flat-prices-based-on-approval-date-2000-feb-2012 is being split into two due to exceeding the size limit for Github.
- resale-flat-prices-based-on-approval-date-2000-feb-2005.csv
- resale-flat-prices-based-on-approval-date-2006-2012.csv

In [ ]:
df_1990 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-approval-date-1990-1999.csv')
df_2000 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-approval-date-2000-feb-2005.csv')
df_2006 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-approval-date-2006-2012.csv')
df_2012 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv')
df_2015 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv')
df_2017 = pd.read_csv('Resale Flat Prices/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv')

In [ ]:
df_main = pd.concat([df_1990, df_2000, df_2006, df_2012, df_2015, df_2017])
df_main = df_main.reset_index(drop=True)

## Check out the Data

In [ ]:
df_main.head()

In [ ]:
df_main.info()

In [ ]:
df_main.month.unique()

In [ ]:
df_main.town.unique()

In [ ]:
df_main.flat_type.unique()

In [ ]:
df_main.storey_range.unique()

In [ ]:
df_main.flat_model.unique()

In [ ]:
df_main.remaining_lease.unique()

# Data Cleaning

In [ ]:
df_main

In [ ]:
# Region 

df_main['town'] = df_main['town'].replace(['ANG MO KIO'],'NORTH-EAST REGION')
df_main['town'] = df_main['town'].replace(['BEDOK'],'EAST REGION')
df_main['town'] = df_main['town'].replace(['BISHAN'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['BUKIT BATOK'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['BUKIT MERAH'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['BUKIT TIMAH'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['CENTRAL AREA'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['CHOA CHU KANG'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['CLEMENTI'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['GEYLANG'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['HOUGANG'],'NORTH-EAST REGION')
df_main['town'] = df_main['town'].replace(['JURONG EAST'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['JURONG WEST'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['KALLANG/WHAMPOA'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['MARINE PARADE'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['QUEENSTOWN'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['SENGKANG'],'NORTH-EAST REGION')
df_main['town'] = df_main['town'].replace(['SERANGOON'],'NORTH-EAST REGION')
df_main['town'] = df_main['town'].replace(['TAMPINES'],'EAST REGION')
df_main['town'] = df_main['town'].replace(['TOA PAYOH'],'CENTRAL REGION')
df_main['town'] = df_main['town'].replace(['WOODLANDS'],'NORTH REGION')
df_main['town'] = df_main['town'].replace(['YISHUN'],'NORTH REGION')
df_main['town'] = df_main['town'].replace(['LIM CHU KANG'],'NORTH REGION')
df_main['town'] = df_main['town'].replace(['SEMBAWANG'],'NORTH REGION')
df_main['town'] = df_main['town'].replace(['BUKIT PANJANG'],'WEST REGION')
df_main['town'] = df_main['town'].replace(['PASIR RIS'],'EAST REGION')
df_main['town'] = df_main['town'].replace(['PUNGGOL'],'NORTH-EAST REGION')

In [ ]:
# Storey Range

df_main['storey_range'] = df_main['storey_range'].replace(['10 TO 12'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['04 TO 06'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['07 TO 09'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['01 TO 03'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['13 TO 15'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['19 TO 21'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['16 TO 18'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['25 TO 27'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['22 TO 24'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['28 TO 30'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['31 TO 33'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['40 TO 42'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['37 TO 39'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['34 TO 36'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['06 TO 10'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['01 TO 05'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['11 TO 15'],'01 TO 15')
df_main['storey_range'] = df_main['storey_range'].replace(['16 TO 20'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['21 TO 25'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['26 TO 30'],'16 TO 30')
df_main['storey_range'] = df_main['storey_range'].replace(['36 TO 40'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['31 TO 35'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['46 TO 48'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['43 TO 45'],'31 TO 45')
df_main['storey_range'] = df_main['storey_range'].replace(['49 TO 51'],'31 TO 45')

In [ ]:
# Splitting month into Month and Year

df_main[['Year', 'Month']] = df_main['month'].str.split('-', expand=True)

In [ ]:
# Lease Commence Date

df_main['Year'] = df_main['Year'].astype(str).astype(int) 

df_main['lease_left']=(99 - (df_main['Year'] - df_main['lease_commence_date']))

Flat differences

Multi generation flat:
- Current - 3 rooms (2 master room, 1 normal room) [excluding living room]
- Previous (1980s) - 4-room or 5-room flat with an adjoining studio apartment that had a separate entrance

In [ ]:
# Replacing MULTI-GENERATION TO MULTI GENERATION

df_main['flat_type'] = df_main['flat_type'].replace(['MULTI-GENERATION'],'MULTI GENERATION')

Type S1 and S2: (i.e. The Pinnacle@Duxton)
- Special types, different unit variations â€“ with dissimilar combinations of features such as extended bays, balconies, bay windows and planter areas.

All the different models (Improved, Simplified etc):
- Refers to the different model of each flat types, normally means floor plan is different, but all means the same type.

Adjoined flat are 2 individual flats purchased side by side, and the owners link both units together.

Loft apartment is flats with high ceiling, 1 staircase and 1 room on the top, normally located at the top of the building (something like penthouse but HDB version)

Comparison between following models:
- Apartment (1-level)
- Maisonette (2-level, normally multiple units in 1 HDB building)
- Terrace (2-levels, but a stand-alone building)

In [ ]:
# Flat Model

df_main['flat_model'] = df_main['flat_model'].replace(['MODEL A-MAISONETTE','IMPROVED-MAISONETTE',
                                                       'Model A-Maisonette','Improved-Maisonette', 
                                                       'Premium Maisonette', 'Maisonette'],
                                                       'MAISONETTE')
df_main['flat_model'] = df_main['flat_model'].replace(['PREMIUM APARTMENT','Apartment','Premium Apartment'],
                                                       'APARTMENT')
df_main['flat_model'] = df_main['flat_model'].replace(['Improved'],'IMPROVED')
df_main['flat_model'] = df_main['flat_model'].replace(['New Generation'],'NEW GENERATION')
df_main['flat_model'] = df_main['flat_model'].replace(['Model A'],'MODEL A')
df_main['flat_model'] = df_main['flat_model'].replace(['Standard'],'STANDARD')
df_main['flat_model'] = df_main['flat_model'].replace(['Simplified'],'SIMPLIFIED')
df_main['flat_model'] = df_main['flat_model'].replace(['2-room','Model A2'],'2-ROOM')
df_main['flat_model'] = df_main['flat_model'].replace(['Terrace'],'TERRACE')
df_main['flat_model'] = df_main['flat_model'].replace(['Multi Generation'],'MULTI GENERATION')
df_main['flat_model'] = df_main['flat_model'].replace(['Adjoined flat'],'ADJOINED FLAT')
df_main['flat_model'] = df_main['flat_model'].replace(['Type S1', 'Type S2'],'TYPE S')
df_main['flat_model'] = df_main['flat_model'].replace(['Premium Apartment Loft'],'LOFT APARTMENT')

In [ ]:
df_main

In [ ]:
df_cleaned = df_main[['flat_type','block','street_name','storey_range','floor_area_sqm','flat_model',
                      'resale_price','Year','lease_left','town']]
df_cleaned = df_cleaned.rename(columns={"Year": "year", 'town' : 'region'})
df_cleaned.head()

Separating the data into decades.
- 1990 to 1999
- 2000 to 2009
- 2010 to 2019
- 2020 onwards

In [ ]:
df_90 = df_cleaned[df_cleaned['year'] < 2000]
df_90

In [ ]:
df_00 = df_cleaned[(df_cleaned['year'] >= 2000) & (df_cleaned['year'] < 2010)]
df_00

In [ ]:
df_10 = df_cleaned[(df_cleaned['year'] >= 2010) & (df_cleaned['year'] < 2020)]
df_10

In [ ]:
df_20 = df_cleaned[df_cleaned['year'] >= 2020]
df_20

## Map Visualisation

In [ ]:
f = open('Geojson/master-plan-2019-region-boundary-no-sea-geojson.geojson')
 
data = json.load(f)

In [ ]:
data

In [ ]:
data['features'][0]['properties']['region'] = 'WEST REGION'
data['features'][1]['properties']['region'] = 'NORTH REGION'
data['features'][2]['properties']['region'] = 'NORTH-EAST REGION'
data['features'][3]['properties']['region'] = 'EAST REGION'
data['features'][4]['properties']['region'] = 'CENTRAL REGION'

In [ ]:
print(df_cleaned["region"][0])
print(data['features'][0]['properties'])

# Exploratory Data Analysis (EDA)

## Overall across the years from 1990 to 2022

In [ ]:
numeric_main = pd.DataFrame(df_cleaned[["floor_area_sqm","resale_price","lease_left"]])
numeric_main

In [ ]:
def numeric_dist(df):

    f, axes = plt.subplots(3, 3, figsize=(18, 18))
    count = 0
    for var in df:
        sns.boxplot(data = df[var], orient = "h", ax = axes[count,0])
        sns.histplot(data = df[var], ax = axes[count,1])
        sns.violinplot(data = df[var], orient = "h", ax = axes[count,2])
        count += 1

In [ ]:
# Draw the Distributions of All Variables
numeric_dist(numeric_main)

In [ ]:
def numeric_corr(df):
    
    print(df.corr())
    f = plt.figure(figsize=(8, 8))
    sns.heatmap(df.corr(), vmin = -1, vmax = 1, linewidths = 1,
               annot = True, fmt = ".2f", annot_kws = {"size": 18}, cmap = "RdBu")

In [ ]:
# Heatmap of the Correlation Matrix
numeric_corr(numeric_main)

In [ ]:
sns.pairplot(data = numeric_main)

In [ ]:
def flat_type_flat_model(df):
    
    f = plt.figure(figsize=(20, 15))
    sns.heatmap(df.groupby(['flat_type', 'flat_model']).size().unstack(), 
           linewidths = 1, annot = True, annot_kws = {"size": 18}, cmap = "Blues", fmt=".0f")

In [ ]:
# Distribution Over Flat Type vs Flat Model
flat_type_flat_model(df_cleaned)

In [ ]:
def flat_type_region(df):

    f = plt.figure(figsize=(15, 10))
    sns.heatmap(df.groupby(['flat_type', 'region']).size().unstack(), 
           linewidths = 1, annot = True, annot_kws = {"size": 18}, cmap = "Blues", fmt=".0f")

In [ ]:
# Distribution Over Flat Type vs Region
flat_type_region(df_cleaned)

In [ ]:
def storey_range_region(df):
    
    f = plt.figure(figsize=(10, 5))
    sns.heatmap(df.groupby(['storey_range', 'region']).size().unstack(), 
           linewidths = 1, annot = True, annot_kws = {"size": 18}, cmap = "Blues", fmt=".0f")

In [ ]:
# Distribution Over Storey Range vs Region
storey_range_region(df_cleaned)

In [ ]:
def resale_price_region(df):
    
    fig, ax = plt.subplots(figsize=(15, 10))    
    sns.boxplot(x ='resale_price', y ='region', data = df)
    ax.xaxis.set_major_formatter(ticker.EngFormatter())
    plt.show()

In [ ]:
# Distribution Over Resale Price vs Region
resale_price_region(df_cleaned)

In [ ]:
def resale_price_flat_model(df):

    fig, ax = plt.subplots(figsize=(10, 10))    
    sns.boxplot(x ='resale_price', y ='flat_model', data = df)
    ax.xaxis.set_major_formatter(ticker.EngFormatter())
    plt.show()

In [ ]:
# Distribution Over Resale Price vs Flat Model
resale_price_flat_model(df_cleaned)

In [ ]:
df_overall = df_cleaned.groupby(['region']).mean().reset_index()

In [ ]:
def map_visual(df):
    
    fig = px.choropleth_mapbox(df, geojson=data, color="resale_price",
                           locations="region", featureidkey="properties.region",
                           center={"lat": 1.3302, "lon": 103.8519},
                           color_continuous_scale = 'blues',
                           mapbox_style="carto-positron", zoom=10)
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()

In [ ]:
# Map Visualisation for Overall Average Resale Price per Region
map_visual(df_overall)

## 1990 to 1999

In [ ]:
numeric_90 = pd.DataFrame(df_90[["floor_area_sqm","resale_price","lease_left"]])
numeric_90

In [ ]:
# Draw the Distributions of All Variables
numeric_dist(numeric_90)

In [ ]:
# Heatmap of the Correlation Matrix
numeric_corr(numeric_90)

In [ ]:
sns.pairplot(data = numeric_90)

In [ ]:
# Distribution Over Flat Type vs Flat Model
flat_type_flat_model(df_90)

In [ ]:
# Distribution Over Flat Type vs Region
flat_type_region(df_90)

In [ ]:
# Distribution Over Storey Range vs Region
storey_range_region(df_90)

In [ ]:
# Distribution Over Resale Price vs Region
resale_price_region(df_90)

In [ ]:
# Distribution Over Resale Price vs Flat Model
resale_price_flat_model(df_90)

In [ ]:
df_90overall = df_90.groupby(['region']).mean().reset_index()

In [ ]:
# Map Visualisation for Overall Average Resale Price per Region
map_visual(df_90overall)

## 2000 to 2009

In [ ]:
numeric_00= pd.DataFrame(df_00[["floor_area_sqm","resale_price","lease_left"]])
numeric_00.reset_index(drop=True, inplace=True)
numeric_00

In [ ]:
# Draw the Distributions of All Variables
numeric_dist(numeric_00)

In [ ]:
# Heatmap of the Correlation Matrix
numeric_corr(numeric_00)

In [ ]:
sns.pairplot(data = numeric_00)

In [ ]:
# Distribution Over Flat Type vs Flat Model
flat_type_flat_model(df_00)

In [ ]:
# Distribution Over Flat Type vs Region
flat_type_region(df_00)

In [ ]:
# Distribution Over Storey Range vs Region
storey_range_region(df_00)

In [ ]:
# Distribution Over Resale Price vs Region
resale_price_region(df_00)

In [ ]:
# Distribution Over Resale Price vs Flat Model
resale_price_flat_model(df_00)

In [ ]:
df_00overall = df_00.groupby(['region']).mean().reset_index()

In [ ]:
# Map Visualisation for Overall Average Resale Price per Region
map_visual(df_00overall)

## 2010 to 2019

In [ ]:
numeric_10= pd.DataFrame(df_10[["floor_area_sqm","resale_price","lease_left"]])
numeric_10.reset_index(drop=True, inplace=True)
numeric_10

In [ ]:
# Draw the Distributions of All Variables
numeric_dist(numeric_10)

In [ ]:
# Heatmap of the Correlation Matrix
numeric_corr(numeric_10)

In [ ]:
sns.pairplot(data = numeric_10)

In [ ]:
# Distribution Over Flat Type vs Flat Model
flat_type_flat_model(df_10)

In [ ]:
# Distribution Over Flat Type vs Region
flat_type_region(df_10)

In [ ]:
# Distribution Over Storey Range vs Region
storey_range_region(df_10)

In [ ]:
# Distribution Over Resale Price vs Region
resale_price_region(df_10)

In [ ]:
# Distribution Over Resale Price vs Flat Model
resale_price_flat_model(df_10)

In [ ]:
df_10overall = df_10.groupby(['region']).mean().reset_index()

In [ ]:
# Map Visualisation for Overall Average Resale Price per Region
map_visual(df_10overall)

## 2020 onwards

In [ ]:
numeric_20= pd.DataFrame(df_20[["floor_area_sqm","resale_price","lease_left"]])
numeric_20.reset_index(drop=True, inplace=True)
numeric_20

In [ ]:
# Draw the Distributions of All Variables
numeric_dist(numeric_20)

In [ ]:
# Heatmap of the Correlation Matrix
numeric_corr(numeric_20)

In [ ]:
sns.pairplot(data = numeric_20)

In [ ]:
# Distribution Over Flat Type vs Flat Model
flat_type_flat_model(df_cleaned)

In [ ]:
# Distribution Over Flat Type vs Region
flat_type_region(df_cleaned)

In [ ]:
# Distribution Over Storey Range vs Region
storey_range_region(df_cleaned)

In [ ]:
# Distribution Over Resale Price vs Region
resale_price_region(df_cleaned)

In [ ]:
# Distribution Over Resale Price vs Flat Model
resale_price_flat_model(df_cleaned)

In [ ]:
df_20overall = df_20.groupby(['region']).mean().reset_index()

In [ ]:
# Map Visualisation for Overall Average Resale Price per Region
map_visual(df_20overall)

FOR EACH YEAR:

region, 3 areas in singapore (north-east, central, west)

resale price of flat models (3 room, 4 room, 5 room, EA, EM)

average resale price/number of units to see the trend

FOR EACH GEN:

show graph of average and see resale price up or down

In [ ]:
df_flat_overall_price = df_cleaned.groupby(['year'])['resale_price'].mean().reset_index()
df_flat_type_price = df_cleaned.groupby(['year','flat_type'])['resale_price'].mean().reset_index()
df_flat_model_price = df_cleaned.groupby(['year','flat_model'])['resale_price'].mean().reset_index()

In [ ]:
df_flat_type_price_3room = df_flat_type_price.loc[df_flat_type_price['flat_type'] == '3 ROOM']
df_flat_type_price_4room = df_flat_type_price.loc[df_flat_type_price['flat_type'] == '4 ROOM']
df_flat_type_price_5room = df_flat_type_price.loc[df_flat_type_price['flat_type'] == '5 ROOM']
df_flat_model_price_ea = df_flat_model_price.loc[df_flat_model_price['flat_model'] == 'APARTMENT']
df_flat_model_price_ea['flat_type'] = "EXECUTIVE APARTMENT"
df_flat_model_price_ma = df_flat_model_price.loc[df_flat_model_price['flat_model'] == 'MAISONETTE']
df_flat_model_price_ma['flat_type'] = "EXECUTIVE MAISONETTE"
df_flat_multiple = pd.concat([df_flat_type_price_3room, df_flat_type_price_4room, df_flat_type_price_5room,
                             df_flat_model_price_ea, df_flat_model_price_ma]).reset_index()

In [ ]:
def flat_lineplot(df, title):
    fig = plt.figure(figsize = (15, 5))
    plt.xlabel("Years")
    plt.ylabel("Resale Price")
    sns.lineplot(data=df, x="year", y="resale_price")
    plt.title(title)

In [ ]:
fig = plt.figure(figsize = (15, 10))
plt.xlabel("Years")
plt.ylabel("Resale Price")
sns.lineplot(data=df_flat_multiple, x="year", y="resale_price", hue="flat_type")
plt.legend(bbox_to_anchor=(1.02, 1), loc='upper left', borderaxespad=0)
plt.title("Overall")

In [ ]:
flat_lineplot(df_flat_type_price_3room, "3 ROOM")

In [ ]:
flat_lineplot(df_flat_type_price_4room, "4 ROOM")

In [ ]:
flat_lineplot(df_flat_type_price_5room, "5 ROOM")

In [ ]:
flat_lineplot(df_flat_model_price_ea, "EXECUTIVE APARTMENT")

In [ ]:
flat_lineplot(df_flat_model_price_ma, "EXECUTIVE MAISONETTE")